# Music is copyrighted - keep it local, never push it
addons/audio/sounds/*.ogg
addons/audio/sounds/*.mp3
addons/audio/sounds/*.wav

# Build output
.hemttout/
releases/
@JBLSpeaker/
*.pbo
*.bisign
*.biprivatekey
extension/target/

.DS_Store
